<!DOCTYPE html>
<html>

<head>
  <title>Data Visualization Framework</title>

  <style>

  </style>
  <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
</head>



<body>
    <h2>{{name}}<h2>
    {{#eq stage 0 }}
        <a href="/plugin?i=0">News</a>
        <a href="/plugin?i=1">Twitter</a>
    {{/eq}}
    {{#eq stage 1 }}
         <form id="form" onsubmit="passParams()">
               <label for="time_from">From:</label>
               <input id="time_from" type="date" name="from"/>
               <label for="time_to">To:</label>
               <input id="time_to" type="date" name="to"/>

               {{#eq currentPluginName "News"}}
                    <!-- News Plugin Rendering Page -->
                    <form>
                         <label for="news_sources">Sources:</label>
                         <select id="news_sources" name="sources">
                              <option value="bbc-news">BBC News</option>
                              <option value="cbs-news">CBS News</option>
                              <option value="abc-news">ABC News</option>
                         </select>
                    <form>
                {{/eq}}
                     {{#eq currentPluginName "Twitter"}}
                         <!-- Twitter Plugin Rendering Page -->
                         <label for="mumber_of_data">Number of data:</label>
                         <input id="mumber_of_data" type="number" name="dataNumber"/>
                     {{/eq}}
               <button id="form_btn" type="submit">OK</button>
         </form>

        <div id="barchart"></div>
        {{#each timestamps}}
            <input type="hidden" class="timeline" value="{{this}}"/>
        {{/each}}
        <div id="piechart"></div>
        {{#each scores}}
            <input type="hidden" class="score" value="{{this}}"/>
        {{/each}}
    {{/eq}}
    <a href="/">Back to Home</a>
</body>
<script type="text/javascript">

function passParams() {
    let phase = "{{currentPluginName}}";
    const form = document.getElementById("form")
    const time_from = document.getElementById("time_from").value
    const time_to = document.getElementById("time_to").value

    let actionUrl = `/getparams?from=${time_from}&to=${time_to}`
    if (phase === "News") {
        actionUrl += "&sources=" + document.getElementById("news_sources").value
    } else if (phase === "Twitter") {
        actionUrl += "&dataNumber=" + document.getElementById("mumber_of_data").value
    }
    form.action = actionUrl
}

const dataLabel = "{{ currentPluginName }}"
const scoresEles = document.getElementsByClassName("score")
const timelines = document.getElementsByClassName("timeline")


// const scores = []
// Array.from(scoresEles).forEach((el) => {
//     scores.push(+el.value )
// })

function countSentimentScores() {
    let veryNegative = 0, negative = 0, neutral = 0,
        positive = 0, veryPositive = 0

    Array.from(scoresEles).forEach((el) => {
        let score = +el.value
        if (score < -0.6 && score >= -1.0) veryNegative++;
        else if (score < -0.2 && score >= -0.6) negative++;
        else if (score <= 0.2 && score >= -0.2) neutral++;
        else if (score < 0.7 && score >= 0.3) positive++;
        else if (score <= 1.0 && score >= 0.7) veryPositive++;
    })

    return {
        "Very Negative": veryNegative,
        "Negative": negative,
        "Neutral": neutral,
        "Positive": positive,
        "Very Positive": veryPositive
    }
}
// console.log(scores)

if(scoresEles.length != 0) {
    const counts = countSentimentScores();

    var data = [{
      values: [counts["Very Negative"], counts["Negative"], counts["Neutral"], counts["Positive"], counts["Very Positive"]],
      labels: ['Very Negative', 'Negative', 'Neutral', 'Positive', 'Very Positive'],
      domain: {column: 0},
      hoverinfo: 'label+percent',
      hole: .4,
      type: 'pie',
      marker: {
         colors: ['darkblue', 'lightblue', 'lightgray', 'pink', 'red']
      }
    }];

    let x = []
    Array.from(timelines).forEach((tl) => {
            x.push(tl.value)
    })
    let scores = []
        Array.from(scoresEles).forEach((el) => {
                scores.push(+el.value)
        })
    //console.log(x)
    console.log(scores)

    var data1 = [
      {
        x: [...x],
        y: [...scores],
        type: 'bar',
        name: 'bar chart for scores'
      }
    ];
    var layout2 = {
          title: 'Trade of Sentiment Score',
          annotations: [
            {
              font: {
                size: 20
              },
              text: dataLabel,
              x: 0.5,
              y: 0.5
            }],
          height: 400,
          width: 600,
          showlegend: false,
          grid: {rows: 1, columns: 1}
        };

    var layout = {
      title: 'Sentiment Score of Content',
      annotations: [
        {
          font: {
            size: 20
          },
          showarrow: false,
          text: dataLabel,
          x: 0.5,
          y: 0.5
        }],
      height: 400,
      width: 600,
      showlegend: false,
      grid: {rows: 1, columns: 1}
    };

    Plotly.newPlot('piechart', data, layout)
    Plotly.newPlot('barchart', data1, layout2);
}

</script>
</html>